@import "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    height: 70vh;
    width: 320px;
    border-radius: 1rem;
}

.card .card-header {
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.card .card-body {
    height: 35%;
    padding: 0 20px;
}

.card .card-footer {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.card .card-header img {
    width: 100%;
    border-radius: 1rem;
    padding: 10px;
}

.card .card-body h1 {
    padding-top: 15px;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}

.card .card-body p {
    color: hsl(215, 51%, 70%);
    font-size: 1em;
    margin-top: 25px;
}

.card .card-body .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:0.85rem;
    margin: 15px 0;
}

.card .card-body .status img {
    padding: 0 5px;
}

#price {
    color: aqua;
}

#days {
    color: hsl(215, 51%, 70%);
}

.card .card-body hr {
    border: 1px solid hsl(215, 32%, 27%);
}

.card .card-footer img {
    height: 50%;
    border-radius: 50%;
    border: 1px solid white;
}





